* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #333;
  padding: 0 30px;
  padding-left: 20px;

}

h1 {
  color: #000000;
}

p {
  line-height: 1.6;
  margin: 10px 0;
}

.confluence-information-macro-information {
  background-color: #FCFCFC;
  border: #4d4c4c solid 1px;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
}

.confluence-information-macro-information .title {
  font-weight: bold;
  color: #0d47a1;
  margin-bottom: 10px;
}

.confluence-information-macro-information p {
  margin: 0;
}

.table-wrap {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  color: #333;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f1f1f1;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
  color: #1A73E8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

ul {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #42a5f5;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1e88e5;
}

#main-content .confluence-embedded-file-wrapper {
  text-align: center;
  margin: 20px 0;
}

.titulos {
  text-align: left;
  padding-left: 15px;
}

.nota {
  padding-left: 20px;
}

.indice {
  padding-top: 15px;
}

.textos-gerais {
  padding-left: 20px;
}

.confluence-embedded-image {
  width: 850px;
  border: none;
  padding: 20px;
}

.table-2 {
  width: 45%;
}



.tabs-container {
  width: 100%;
}

.tabs-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs-menu li.active {
  background-color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #007BFF;
}

.tabs-menu li:hover {
  background-color: #e0e0e0;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: #fff;
}

.tab-content.active {
  display: block;
}

.titulos {
  font-size: 24px;
  font-weight: bold;
}

.list-ul {
  padding-left: 35px;
}

.list-ul-point {
  padding-left: 35px;
  list-style-type: disc;
}

.list-ul-none {
  list-style-type: none;
  padding-left: 35px;
}

#toc {
  list-style-type: decimal;
  /* padding-left: 0; */
}

#toc li {
  margin: 10px 0;
}

#toc li a {
  text-decoration: none;
  color: #007BFF;
}

#toc li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.indice-list {
  padding-left: 50px;
  padding-bottom: 10px;
}

.title-table {
  background-color: #DEEBFF;
}